/* You can add global styles here */
$cream: #fffdce;
$bamboo: #6cc0a2;
$rose: #e35768;
$pink: #f3b2c5;
$indigo: #304a67;
$cochineal:#bd427b;

$pc-min: 1025px;
$tb-max: 1024px;
$tb-min: 600px;
$sp-max: 599px;

@mixin resp-left($pc-l: 0px, $tb-l: 0px, $sp-l: 0px) {
  @media screen and (min-width: $pc-min){left: $pc-l;}
  @media screen and (min-width: $tb-min) and (max-width: $tb-max){left: $tb-l;}
  @media screen and (max-width: $sp-max){left: $sp-l;}
}
@mixin resp-width($pc-width: 1000px, $tb-width: 580px, $sp-width: 275px) {
  @media screen and (min-width: $pc-min){width: $pc-width;}
  @media screen and (min-width: $tb-min) and (max-width: $tb-max){width: $tb-width;}
  @media screen and (max-width: $sp-max){width: $sp-width;}
}
@mixin resp-height($pc-height: 412px, $tb-height: 202px, $sp-height: 130px) {
  @media screen and (min-width: $pc-min){height: $pc-height;}
  @media screen and (min-width: $tb-min) and (max-width: $tb-max){height: $tb-height;}
  @media screen and (max-width: $sp-max){height: $sp-height;}
}

/*https://coco-factory.jp/ugokuweb/move01/9-1-2/ を参考にした*/
/*スクロールダウン全体の場所*/
.scrolldown2{
  /*描画位置※位置は適宜調整してください*/
  position:absolute;
  left:50%;
  @media screen and (min-width: $tb-min){bottom: -40px;}
  @media screen and (max-width: $sp-max){bottom: -20px;}
}

/* 丸の描写 */
.scrolldown2:before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom:0;
  @include resp-left(-4px, -4px, -2.5px);
  /*丸の形状*/
  @include resp-width(10px, 10px, 7px);
  @include resp-height(10px, 10px, 7px);
  border-radius: 50%;
  background: $indigo;
  /*丸の動き1.6秒かけて透過し、永遠にループ*/
  animation:
    circlemove 1.6s ease-in-out infinite,
    cirlemovehide 1.6s ease-out infinite;
}

/*下からの距離が変化して丸の全体が上から下に動く*/
@media screen and (min-width: $tb-min){
  @keyframes circlemove{
    0%{bottom: 45px;}
    100%{bottom:-5px;}
  }
}
@media screen and (max-width: $sp-max){
  @keyframes circlemove{
    0%{bottom: 25px;}
    100%{bottom:-5px;}
  }
}


/*上から下にかけて丸が透過→不透明→透過する*/
@keyframes cirlemovehide{
    0%{opacity:0}
   50%{opacity:1;}
  80%{opacity:0.9;}
100%{opacity:0;}
}

/* 線の描写 */
.scrolldown2:after{
  content:"";
    /*描画位置*/
  position: absolute;
  bottom:0;
  left:0;
    /*線の形状*/
  width:2px;

  background: $indigo;
  @include resp-height(80px, 80px, 40px);
}
